header {
    background-color:#333333;
    width: 100%;
    height: 132px;
    color: #bfbfbf;
}

#name {
    font-size: 85px;
    margin-top: 40px;
    margin-left: 10px;
    
}

a:link,
a:visited,
a {
    text-decoration: none;
}


a:hover {
    color: #FF2800
}

#reachMe {
    list-style-type: none;
    float: right;
    color: #bfbfbf;
}

.headerMenu {
    margin-top: 95px;
    float: right;
    font-size: 25px;
    color: #bfbfbf;
}


.displaySection {
    color: #2E4052;
}

.ascent {
    background-color: #FF2800;    
    height: 10px
}

.text {
    color: #2e4052;
    font-size: 20px;
}


#selfie {
    float: right;
    border-radius: 17%;
}



i {
    color: #ff2800
}


#contact {
    text-align:center;
    color: #2e4052;
}



.grid-container {
    display: grid;
    grid-row-gap: 50px;
    grid-template-columns: auto auto auto;
    gap: 5px;
  }
  .grid-item {
   display: grid;
   margin-left: auto;
   margin-right: auto 

  }

ul {
    list-style-type: none;
}

body {
    background-color: #bfbfbf;
}